.card {
    overflow: hidden;
    justify-content: flex-start!important;
}

.card :global(.names){
    overflow: hidden;
}

.card :global(.name){
    text-transform: none!important;
}

.card :global(.avatar){
    flex-shrink: 0;
}

