.root {
    flex-grow: 1;
}

.setWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.dragHandle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    height: 100%;
}